@{
    ViewData["Title"] = "Access Denied";
}

<div class="text-center">
    <div class="alert alert-danger">
        <h1 class="display-4">Access Denied</h1>
        <p class="lead">You don't have permission to access this resource.</p>
        <hr>
        <p>If you believe this is an error, please contact your administrator.</p>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Return Home</a>
    </div>
</div>